<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
    <title>Pizza edit</title> 
  </head>
  <body>
  <nav th:replace="fragments/navbar :: navbar('book')"></nav>
  	<div class="container">
  		<h1>Nuova Pizza</h1>
  		<hr/>
  		<form
  			id="form-pizza"
  			th:object="${pizza}"
  			th:action="@{/add}"
  			method="POST"
  		>
  		<form>
  		<!-- campo nascosto per l'id -->
  		<input type="hidden" th:field="*{id}">
  		
  <div class="mb-3">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" th:field="*{nome}" id="inputNome">
  </div>
  <div class="mb-3">
    <label for="inputPrezzo" class="form-label">Prezzo</label>
    <input type="number" class="form-control" th:field="*{prezzo}" id="inputPrezzo">
  </div>
  <div class="mb-3">
    <label for="inputDescrizione" class="form-label">Descrizione</label>
    <textarea type="text" class="form-control" th:field="*{descrizione}" id="inputDescrizione"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Aggiungi</button>
  <a class="btn btn-primary" href="/">Annulla</a>
</form>
 
 <th:bock th:replace="fragments/risorse :: risorse-js"></th:bock>
  </body>
</html>
  