<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
    <title>Ingredienti</title> 
  </head>
  <body>
  <nav th:replace="fragments/navbar :: navbar('ingredienti')"></nav>
  <div class="container">
  <th:block th:if="${successMessage != null && successMessage != ''}">
  		<div  class="alert alert-success" th:text="${successMessage}"></div>
  	</th:block>
  	<h1>Ingredienti</h1>
  	<hr/>
  	<a class="btn btn-primary" th:href="@{/add}">Aggiungi un ingrediente</a>
  	<table class="table" th:if="${ingredienti.size() > 0}">
  		<thead>
  			<tr>
	  			<th>Nome</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr th:each="i : ${ingredienti}">
  				<td th:text="${i.nome}"></td>
	  			<a class="btn btn-primary" th:href="@{|/delete/${i.id}|}" title="Delete" onclick="return confirm('Sei sicuro?')">
	  					<i class="fa-solid fa-trash-can"></i>
	  			</a>
	  			<a class="btn btn-primary" th:href="@{|/edit/${i.id}|}" title="Edit">
	  					<i class="fa-solid fa-pen-to-square"></i>
	  			</a>

	  			</td>
	  		</tr>
  		</tbody>
  	</table>
  </div>
  <div class="alert alert-info my-5" th:unless="${pizza.size() > 0}">
  	<h3>There are no pizza yet</h3>
  </div>
  <th:bock th:replace="fragments/risorse :: risorse-js"></th:bock>
  </body>
</html>